.button{
    width: 80px;
    height: 40px;
    margin-right: 20px;
    border-radius: 4px;
    color: #fff;
    width:100px;
    text-align: center;
    font-family: Arial,
    sans-serif;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    background-color: rgb(43, 153, 91);
    border: 1px solid rgb(33, 126, 74);
    margin-right: 20px;
}
.button:hover {
    background-color: rgb(75, 183, 141);
}

.button:last-child{
    margin-right: 0px;
}